# Ignore environment variables
.env

# Ignore local dependencies
node_modules/

# Ignore Python cache
__pycache__/

# Ignore Python virtual environment
venv/

# Ignore credentials
credentials.json
backend/credentials.json

